@import "/src/bootstrap_overrides.scss";
@import "/node_modules/bootstrap/scss/utilities";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/forms";
@import "/node_modules/bootstrap/scss/buttons";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/navbar";
@import "/node_modules/bootstrap/scss/list-group";
@import "/node_modules/bootstrap/scss/helpers";
@import "/node_modules/bootstrap/scss/utilities/api";

body {
	padding-top: 100px;
}

/* fix padding under menu after resize */
@media screen and (max-width: 412px) {
	body {
		padding-top: 130px;
	}
}

@media screen and (min-width: 576px) {
	body {
		padding-top: 100px;
	}
}
